/* MonthlyPlan */
#section7 {
  background-color: #111;
  color: white;
  padding-bottom: 60px;
  margin-top: 140px;
}

#section7 h6 {
  color: #e31c25;
}

#section7 h2, #section7 h3 {
  font-family: 'Oswald', sans-serif;
}

.ps-item {
  padding: 40px 30px 52px;
  border: 1px solid #464646;
  transform: skewY(-4deg);
  transition: all 0.5s;
  position: relative;
}

.ps-item h3 {
  font-size: 28px;
  color: #ffffff;
  font-weight: 600;
  transform: skewY(4deg);
}

.ps-item .pi-price {
  transform: skewY(4deg);
}

.ps-item .pi-price h2 {
  font-size: 60px;
  color: #e31c25;
  font-weight: 600;
}

.ps-item .pi-price span {
  color: #c4c4c4;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ps-item ul {
  transform: skewY(4deg);
}

.ps-item ul li {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #c4c4c4;
  line-height: 32px;
  list-style: none;
}

#section7 .btn {
  font-size: 14px;
  padding: 17px 30px 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  transform: skewY(4deg);
  background-color: #333333;
  font-family: 'Roboto', sans-serif;
}

.ps-item:hover {
  background-color: #ffffff;
  border-color: #ffffff;
}

.ps-item:hover h3 {
  color: #111111;
}

.ps-item:hover .pi-price span {
  color: #444444;
}

.ps-item:hover ul li {
  color: #111111;
  font-weight: 600;
}

.ps-item:hover a.btn {
  background-color: #e31c25 !important;
  font-weight: 700;
}

/* Flexbox layout for responsive design */
@media (max-width: 768px) {
  .col-lg-3 {
    flex: 0 0 50%; /* Makes each plan take half the width */
  }
}

@media (max-width: 480px) {
  .col-lg-3 {
    flex: 0 0 100%; /* Makes each plan take full width on smaller screens */
  }
}
.page-nav-btn {
  background-color: #e31c25;
  border: none;
  color: white;
  font-size: 24px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

.page-nav-btn:hover {
  background-color: #c72c1e;
}

.text-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.text-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Keçid işarələrini yerləşdirmək üçün paketləri üfüqi olaraq kaydırılabilen konteyner */
.packages-container {
  display: flex;
  overflow-x: auto; /* Paketləri yatay sürüşdürə bilmək üçün */
  gap: 20px; /* Paketlər arasındakı boşluq */
}

.ps-item {
  min-width: 250px;
  max-width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.ps-item:hover {
  transform: translateY(-10px); /* Hover effekti */
}
