.signup-page {
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0B0C10; 
    color: #f8f8f8; 
}

.user-auth-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
}

.user-auth-form-container {
    background-color: #F5F5F5; 
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    color: #0B0C10;
}

.user-auth-form-container h2 {
    color: #D90429;
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"], input[type="email"], input[type="password"], select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #8E8E8E;
    background-color: #FFFFFF;
    color: #0B0C10;
    font-size: 16px;
}

select {
    background-color: #FFFFFF;
    border: 1px solid #8E8E8E;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #D90429;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:disabled {
    background-color: #8E8E8E;
}

button:hover {
    background-color: #6A040F;
}

.error {
    color: #FF4C4C;
    text-align: center;
    margin-bottom: 20px;
}

.error-message {
    color: #FF4C4C;
    font-size: 14px;
    margin-top: -8px;
    margin-bottom: 10px;
}

.input-error {
    border: 1px solid #FF4C4C;
}
